<div class = "main">
        <div class = "container">
            <div class = "row">
                <div class = "col col-lg-12">
                    <br>
                    <a href = "/projects/<%=@project.id%>">🡨 Return to <%=@project.title%> Details</a>
                    <h1>Tasks for <%=@project.title%></h1>
                    <a href = "/projects/<%=@project.id%>/tasks/new">New Task</a>
                    <br>
                    <br>
                    <div id="indexTaskList" class="d-flex">
                    <% if @project.tasks.length > 0 %>
                        <% @project.tasks.each do |task|%>
                            <div class="card taskShortCard" onclick="window.location.href = '/projects/<%=@project.id%>/tasks/<%=task.id%>';">
                                <div class="card-body">
                                    <div class="statusFlag" style="background-color:<%=StatusType.find(task.status).color%>;"><a href="/search/status:<%=StatusType.find(task.status).title%>"><%=StatusType.find(task.status).title%></a></div>
                                    <a href="/projects/<%=@project.id%>/tasks/<%=task.id%>" class="card-link"><h3 class="card-title blueTitle"><%=task.title%></h3></a>
                                <h6 class="card-subtitle mb-2 text-muted"><%=task.user.name%></h6>
                                <p class="card-text"><%=task.description%></p>
                                <%if task.user == current_user %>
                                <form action = "/projects/<%=@project.id%>/tasks/<%=task.id%>/status" method = "POST">
                                    <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token%>">
                                    <input type = "hidden" name = "_method" value = "patch">
                                    <select name = "status" id = "status">
                                        <% if @status != nil %>
                                            <%@status.each do |status|%>
                                                <% if task.status == status.id%>
                                                    <option value = "<%=status.id%>" selected = "selected"><%=status.title%></option>
                                                <% else %>
                                                    <option value = "<%=status.id%>"><%=status.title%></option>
                                                <%end%>
                                            <%end%>  
                                        <%end%>
                                        <% if @statusAll != nil %>
                                            <%@statusAll.each do |status|%>
                                                <% if task.status == status.id%>
                                                    <option value = "<%=status.id%>" selected = "selected"><%=status.title%></option>
                                                <% else %>
                                                    <option value = "<%=status.id%>"><%=status.title%></option>
                                                <%end%>
                                            <%end%>
                                        <%end%>              
                                    </select>
                                        <%if task.duedate != nil%>
                                            <h6 class="card-subtitle mb-2 text-muted">Due Date: <%=task.duedate.strftime("%b %d, %Y")%></h6> 
                                        <%else%>
                                            <h6 class="card-subtitle mb-2 text-muted">Due Date: None</h6> 
                                        <%end%>
                                        <%if PriorityType.find_by(id: task.PriorityType_id) != nil%>
                                            <h6 class="card-subtitle mb-2 text-muted">Priority: <%=PriorityType.find_by(id: task.PriorityType_id).title%></h6>     
                                        <%else%>                          
                                            <h6 class="card-subtitle mb-2 text-muted">Priority: None</h6>     
                                        <%end%>
                                        Tags:
                                        <% if TagTask.where(task_id:task.id).length != 0%>
                                            <%TagTask.where(task_id:task.id).each do |tag|%>
                                                <%if tag == TagTask.where(task_id:task.id).last%>
                                                    <span><a href="/search/tag:<%=Tag.find(tag.tag_id).title%>"><%=Tag.find(tag.tag_id).title%></a></span>
                                                <%else%>
                                                    <span><a href="/search/tag:<%=Tag.find(tag.tag_id).title%>"><%=Tag.find(tag.tag_id).title%>,</a></span>
                                                <%end%>
                                            <%end%>
                                        <%else%>
                                            None
                                        <%end%>
                                        <br>
                                        <% if task.milestone.try(&:title)%>
                                            <p class="milestoneText">Milestone: <a href ="/projects/<%=@project.id%>/milestones/<%=task.milestone.id%>"><%=task.milestone.try(&:title)%></a></p>
                                        <%else%>
                                            <p class="milestoneText">Milestone: None</p>
                                        <%end%>
                                        <br>
                                        <button class = "btn btn-primary">Update Status</button>
                                    </form>
                                    <%else%>
                                    <select name = "status" id = "status" disabled="disabled">
                                        <%@status.each do |status|%>
                                            <% if task.status == status.id%>
                                                <option value = "<%=status.id%>" selected = "selected"><%=status.title%></option>
                                            <% else %>
                                                <option value = "<%=status.id%>"><%=status.title%></option>
                                            <%end%>
                                        <%end%>  
                                        <%@statusAll.each do |status|%>
                                            <% if task.status == status.id%>
                                                <option value = "<%=status.id%>" selected = "selected"><%=status.title%></option>
                                            <% else %>
                                                <option value = "<%=status.id%>"><%=status.title%></option>
                                            <%end%>
                                        <%end%>           
                                    </select>
                                    <%if task.duedate != nil%>
                                    <h6 class="card-subtitle mb-2 text-muted">Due Date: <%=task.duedate.strftime("%b %d, %Y")%></h6> 
                                <%else%>
                                    <h6 class="card-subtitle mb-2 text-muted">Due Date: None</h6> 
                                <%end%>
                                <%if PriorityType.find_by(id: task.PriorityType_id) != nil%>
                                    <h6 class="card-subtitle mb-2 text-muted">Priority: <%=PriorityType.find_by(id: task.PriorityType_id).title%></h6>     
                                <%else%>                          
                                    <h6 class="card-subtitle mb-2 text-muted">Priority: None</h6>     
                                <%end%>
                                Tags:
                                <% if TagTask.where(task_id:task.id).length != 0%>
                                    <%TagTask.where(task_id:task.id).each do |tag|%>
                                        <%if tag == TagTask.where(task_id:task.id).last%>
                                            <span><a href="/search/tag:<%=Tag.find(tag.tag_id).title%>"><%=Tag.find(tag.tag_id).title%></a></span>
                                        <%else%>
                                            <span><a href="/search/tag:<%=Tag.find(tag.tag_id).title%>"><%=Tag.find(tag.tag_id).title%>,</a></span>
                                        <%end%>
                                    <%end%>
                                <%else%>
                                    None
                                <%end%>
                                <br>              
                                    <% if task.milestone.try(&:title)%>
                                        <p class="milestoneText">Milestone: <a href ="/projects/<%=@project.id%>/milestones/<%=task.milestone.id%>"><%=task.milestone.try(&:title)%></a></p>
                                    <%else%>
                                        <p class="milestoneText">Milestone: None</p>
                                    <%end%>               
                                <%end%>
                            </div>
                        </div>
                        <%end%>
                    <%else%>
                        <p>No tasks exist yet. Create a task now.</p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>