<div class = "main">
    <div class = "container">
        <div class = "row">
            <div class = "col col-lg-12">
                <br>
                <a href = "<%=@previousURL%>">🡨 Return to <%=@returnToName%></a>
                <br>
                <br>
                <div class="statusFlag" style="background-color:<%=StatusType.find(@task.status).color%>;"><a href="/search/status:<%=StatusType.find(@task.status).title%>"><%=StatusType.find(@task.status).title%></a></div>
                <h1 class="blueProjectTitle" style = "display:inline-block"><%=@task.title%></h1>
                <span><a href="/projects/<%=@project.id%>/tasks/<%=@task.id%>/edit">Edit</a></span>
                <h5><%=@task.description%></h5>
                <h5>Project: <a href = "/projects/<%=@task.project.id%>"><%=@task.project.title%></a></h5>
                <%if @task.duedate != nil%>
                    <h5>Due Date: <%=@task.duedate.strftime("%b %d, %Y")%></h5>
                <%else%>
                    <h5>Due Date: None</h5>
                <%end%>
                <%if PriorityType.find_by(id: @task.PriorityType_id) != nil%>
                    <h5>Priority: <%=PriorityType.find_by(id: @task.PriorityType_id).title%></h5>
                <%else%>
                    <h5>Priority: None</h5>
                <%end%>
                Tags:
                <% if TagTask.where(task_id:@task.id).length != 0%>
                    <%TagTask.where(task_id:@task.id).each do |tag|%>
                        <%if tag == TagTask.where(task_id:@task.id).last%>
                            <span><a href="/search/tag:<%=Tag.find(tag.tag_id).title%>"><%=Tag.find(tag.tag_id).title%></a></span>
                        <%else%>
                            <span><a href="/search/tag:<%=Tag.find(tag.tag_id).title%>"><%=Tag.find(tag.tag_id).title%>,</a></span>
                        <%end%>
                    <%end%>
                <%else%>
                    None
                <%end%>
                <br>
                <% if @task.milestone.try(&:title)%>
                    <p>Milestone: <a href ="/projects/<%=@project.id%>/milestones/<%=@task.milestone.id%>"><%=@task.milestone.try(&:title)%></a></p>
                <%else%>
                    <span>Milestone: None</span>
                <%end%>
                <br>
                Assigned to: <a style ="display:inline-block;" href="/users/<%=@task.user.id%>"><h5 class="card-subtitle mb-2 text-muted"><%=@task.user.name%></h5></a>
                <h4>Status: </h4>
                <%if @task.user == current_user %>
                    <form action = "/projects/<%=@task.project.id%>/tasks/<%=@task.id%>/status" method = "POST">
                    <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token%>">
                    <input type = "hidden" name = "_method" value = "patch">
                    <select name = "status" id = "status">
                        <% if @status != nil %>
                            <%@status.each do |status|%>
                                <% if @task.status == status.id%>
                                    <option value = "<%=status.id%>" selected = "selected"><%=status.title%></option>
                                <% else %>
                                    <option value = "<%=status.id%>"><%=status.title%></option>
                                <%end%>
                            <%end%>  
                        <%end%>
                        <% if @statusAll != nil %>
                            <%@statusAll.each do |status|%>
                                <% if @task.status == status.id%>
                                    <option value = "<%=status.id%>" selected = "selected"><%=status.title%></option>
                                <% else %>
                                    <option value = "<%=status.id%>"><%=status.title%></option>
                                <%end%>
                            <%end%>
                        <%end%>    
                    </select>
                    <br>
                    <br>
                    <button class = "btn btn-primary">Update Status</button>
                </form>
                <%else%>
                    <select name = "status" id = "status" disabled = "disabled">
                        <% if @status != nil %>
                            <%@status.each do |status|%>
                                <% if @task.status == status.id%>
                                    <option value = "<%=status.id%>" selected = "selected"><%=status.title%></option>
                                <% else %>
                                    <option value = "<%=status.id%>"><%=status.title%></option>
                                <%end%>
                            <%end%>  
                        <%end%>
                        <% if @statusAll != nil %>
                            <%@statusAll.each do |status|%>
                                <% if @task.status == status.id%>
                                    <option value = "<%=status.id%>" selected = "selected"><%=status.title%></option>
                                <% else %>
                                    <option value = "<%=status.id%>"><%=status.title%></option>
                                <%end%>
                            <%end%>
                        <%end%>                       
                    </select>
                <%end%>
                <br>
                <br>
                <div id="comments-pane">
                    <h2 class="blueTitle" style = "display:inline-block">Comments</h2>
                    <form action = "/projects/<%=@task.project.id%>/tasks/<%=@task.id%>/comments" enctype="multipart/form-data" method = "POST">
                    <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token%>">
                        <p>Title</p>
                        <input class="form-control" type="text" id="comments-title" name="title"></input>
                        <br>
                        <p>Comment</p>
                        <textarea class="form-control" id="comments-box" name="comment"></textarea>
                        <br>         
                        <!-- <input type="file" name ="attachedFile"> -->
                        <br>
                        <button class = "btn btn-primary">Add Comment</button>
                    </form>
                    <br>
                    <% if @comments.length > 0 %>
                        <% @comments.each do |comment|%>
                        <div class="card commentCard" style="width: 100%;">
                            <div class="card-body">
                                <h4 class="blueTitle" style = "display:inline-block"><%=comment.title%></h4>
                                <br>
                                <p style = "display:inline-block"><%=comment.comment%></p>
                                <br>
                                <% if Attachment.where(comment_id:comment.id) != nil && Attachment.where(comment_id:comment.id).length > 0 %>
                                    <h6 class="blueTitle" style = "display:inline-block">Attachments:</h6>
                                    <br>
                                    <% Attachment.where(comment_id:comment.id).each do |attachment|%>
                                        <a href = "Attachment.attachment_url "><%=attachment.file%></a>
                                        <br>
                                    <%end%>
                                <%end%>
                                <h5 class="card-subtitle mb-2 text-muted"><a href="/users/<%=comment.user.id%>"class="card-subtitle mb-2 text-muted"><%=comment.user.name%></a> posted <%=comment.created_at.strftime("%b %d, %Y")%></h5>          
                            </div>
                        </div>
                        <%end%>
                    <%else%>
                        <p>No comments exist yet. Create a comment now.</p>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>