<div class = "container">
    <div class = "row">
        <div class = "col col-lg-12">
            <% if !current_user %>
                <div class="alert alert-warning">
                    Create an account or log in to get the full functionality of GroupHub.
                </div>
            <%end%>
            <h1 style="display: inline-block;"><%=@user.name%></h1>
            <% if @user == current_user %>
                <a href = "/users/<%=@user.id%>/edit">Edit</a>
            <%end%>
            <h5><%=@user.email%></h5>
            <% if @user != current_user %>
                <h3>Their Projects</h3>
            <%else%>
                <h3>Your Projects</h3>
            <%end%>
            <% if @user.projects.length > 0 %>
                <% @user.projects.each do |project|%>
                    <span class="card" style="width: 20rem; display: inline-block; vertical-align: top;">
                        <div class="card-body">
                            <a href="/projects/<%=project.id%>" class="card-link"><h3 class="card-title blueTitle"><%=project.title%></h3></a>
                            <a href="/users/<%=project.user.id%>"><h6 class="card-subtitle mb-2 text-muted"><%=project.user.name%></h6></a>
                            <p class="card-text"><%=project.description%></p>
                            <h6 class="card-subtitle mb-2 text-muted"><%=project.created_at.strftime("%b %d, %Y")%></h6>                
                        </div>
                    </span>
                <% end %>
            <%else%>
                <% if @user != current_user %>
                    <p>They haven't created any projects yet.</p>
                <%else%>
                    <p>You haven't created any projects yet.</p>
                <%end%>
            <% end %>
            <hr>
            <% if @user != current_user %>
                <h3>Projects that they are a collaborator on</h3>
            <%else%>
                <h3>Projects that you are a collaborator on</h3>
            <%end%>
            <% if @numOfCollabProjects > 0 %>
                <% @otherprojects.each do |project|%>
                    <% if Member.where(user: @user, project: project).length > 0 %>
                        <span class="card" style="width: 20rem; display:inline-block; vertical-align: top;">
                            <div class="card-body">
                                <a href="/projects/<%=project.id%>" class="card-link"><h3 class="card-title blueTitle"><%=project.title%></h3></a>
                                <a href="/users/<%=project.user.id%>"><h6 class="card-subtitle mb-2 text-muted"><%=project.user.name%></h6></a>
                                <p class="card-text"><%=project.description%></p>
                                <h6 class="card-subtitle mb-2 text-muted"><%=project.created_at.strftime("%b %d, %Y")%></h6>                
                            </div>
                        </span>
                    <%end%>
                <%end%>
            <%else%>
                <% if @user != current_user %>
                    <p>They are not a collaborator on any project yet.</p>
                <%else%>
                    <p>You are not a collaborator on any project yet.</p>
                <%end%>    
            <% end %>
        </div>
    </div>
</div>
