<div class = "main">
    <div class = "container">
        <div class = "row">
            <div class = "col col-lg-12" \>
                <% if !current_user %>
                <br>
                    <div class="alert alert-warning">
                        Create an account or log in to create your own projects on GroupHub.
                    </div>
                <%end%>
                <h1>Explore Projects</h1>
                <br>
                <div id="exploreArea">
                <% if @projects.length > 0 %>
                    <% @projects.each do |project|%>
                        <span class="card exploreCard" onclick="window.location.href ='/projects/<%=project.id%>'">
                            <div class="card-body">
                                <a href="/projects/<%=project.id%>" class="card-link"><h4 class="card-title blueTitle" title="<%=project.title%>""><%=project.title%></h4></a>
                                <a href="/users/<%=project.user.id%>"onclick="event.stopPropagation()"><h6 class="card-subtitle mb-2 text-muted"><%=project.user.name%></h6></a>
                                <p class="card-text" title="<%=project.description%>""><%=project.description%></p>
                                <h6 class="card-subtitle mb-2 text-muted">     
                                    <%if project.duedate != nil %>
                                        <%=project.duedate.strftime("%b %d, %Y")%>
                                    <%else%>
                                        None
                                    <%end%>  
                                </h6> 
                                <% if current_user %>
                                    <% if !project.users.include?(current_user) && !project.waitlisters.include?(User.find(current_user)) && project.user != current_user %>
                                        <a href = "/projects/<%=project.id%>/join/<%=current_user.id%>" class="blueLink" data-method = "patch">Join</a>
                                    <% elsif project.waitlisters.include?(User.find(current_user)) %>
                                        <p>Waiting for Approval</p>
                                    <%else%>
                                    <% end %>
                                <% end %>             
                            </div>
                        </span>
                    <%end%>
                <%else%>
                    <p>No projects exist yet. Create the first project now.</p>
                <%end%>
                </div>
            </div>
        </div>
    </div>
</div>