<div class = "container">
    <div class = "row">
        <div class = "col col-lg-12">
            <h1>Your Projects</h1>
            <a href = "/projects/new">New Project</a>
            <br>
            <% if @projects.length > 0 %>
                <% @projects.each do |project|%>
                    <span class="card" style="width: 20rem;">
                        <div class="card-body">
                            <a href="/projects/<%=project.id%>" class="card-link"><h3 class="card-title blueTitle" ><%=project.title%></h3></a>
                            <a href="/users/<%=project.user.id%>"><h6 class="card-subtitle mb-2 text-muted"><%=project.user.name%></h6></a>
                            <p class="card-text"><%=project.description%></p>
                            <h6 class="card-subtitle mb-2 text-muted"><%=project.created_at.strftime("%b %d, %Y")%></h6>                
                        </div>
                    </span>
                <%end%>
            <%else%>
                <p>No projects exist yet. Create your first project now.</p>
            <% end %>
        </div>
    </div>
</div>