<div class = "main">
    <div class = "container">
        <div class = "row">
            <div class = "col col-lg-12">
                <h1>Edit <%=@Organization.name%></h1>
                <form action = "/organizations/<%=@Organization.id%>" method = "POST">
                    <input class = 'form-control' type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token%>">
                    <input type = "hidden" name = "_method" value = "patch">
                    <span>Organization Name</span>
                    <input class = 'form-control' type = "text" name = "title" placeholder = "Name your organization" value ="<%=@Organization.name%>">
                    <br>
                    <br>
                    <label style = "vertical-align: top;">Organization Address</label>
                    <input class = 'form-control' type = "text" name = "address" placeholder="Organization Address" value ="<%=@Organization.address%>">
                    <input style="display: inline-block; width:60%" class = 'form-control' type = "text" name = "city" placeholder="City" value ="<%=@Organization.city%>">
                    <input style="display: inline-block; width:9%" class = 'form-control' type = "text" name = "state" placeholder="State" value ="<%=@Organization.state%>">    
                    <input style="display: inline-block; width:30%" class = 'form-control' type = "number" name = "zip" placeholder="Zip" value ="<%=@Organization.zipcode%>">                                    
                    <br>
                    <br>
                    <label style = "vertical-align: top;">Organization Logo</label>
                    <input class = 'form-control' type = "file" name = "logo">
                    <br>
                    <br>
                    <span style ="vertical-align: top; display:inline-block; margin-right:15px;">
                        <span>HEADER BACKGROUND</span>
                        <input style="height:0.57in; width:0.57in; box-shadow: 0.1px 0.1px 2px #000000; border:0px; text-align: center;" type=color class = 'form-control' name = "headerbkgcolor" value ="<%=@Organization.headercolor%>">
                    </span>
                    <span style ="vertical-align: top; display:inline-block; margin-right:15px;">
                        <span>HEADER TEXT</span>
                        <input style="height:0.57in; width:0.57in; box-shadow: 0.1px 0.1px 2px #000000; border:0px; text-align: center;" type=color class = 'form-control' name = "headertextcolor" value ="<%=@Organization.headertextcolor%>">
                    </span>
                    <span style ="vertical-align: top; display:inline-block;">
                        <span>BODY TEXT</span>
                        <input style="height:0.57in; width:0.57in; box-shadow: 0.1px 0.1px 2px #000000; border:0px; text-align: center;" type=color class = 'form-control' name = "bodytextcolor" value ="<%=@Organization.bodytextcolor%>">
                    </span>
                    <br>
                    <br>
                    <button class = "btn btn-primary">Update Organization</button>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>