<div class = "main">
    <div class = "container">
        <div class = "row">
            <div class = "col col-lg-12">
                <div class = "" id ="" onclick="event.stopPropagation()"> 
                    <h2 style="text-align:center;">Choose whether you want to create a new organization or join an existing organization: </h2>
                    <br>
                    <a href="/organizations/new">
                    <div id="userTypeButtonSelect" style="margin-left:auto; margin-right:auto; width:52%">
                        <button style="box-shadow: 0.1px 0.1px 2px #000000; border:0px; display:inline-block; height:3.17in; width:2.95in; background-color: #F2F2F2; border-radius:30px; vertical-align: top; text-align: center; margin-right:20px;">
                            <img style ="height:1.57in; width:1.57in;" src="<%=image_path("OrgNewGH.svg")%>">
                            <p style ="font-size: 16pt;">CREATE AN NEW ORGANIZATION</p>
                            <p style ="font-size: 11pt; color:black; margin-bottom:0px;">CREATE A NEW ORGANIZATION IN Group<span class="hubLogo">Hub</p>
                        </button></a>
                        <a href="/organizations/joincode">
                        <button style="box-shadow: 0.1px 0.1px 2px #000000; border:0px; display:inline-block; height:3.17in; width:2.95in; background-color: #1E90FF; border-radius:30px; vertical-align: top; text-align: center;">
                            <img style ="height:1.57in; width:1.57in;" src="<%=image_path("OrgJoinGH.svg")%>">
                            <p style ="font-size: 16pt; color:white">JOIN AN EXISTING ORGANIZATION</p>
                            <p style ="font-size: 11pt; color:#E7E6E6; margin-bottom:0px;">JOIN AN EXISTING ORGANIZATION ON Group<span style="color:#595959;">Hub</span> USING A COMPANY CODE</p>
                        </button>
                        </a>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>